.root {
  border: 1px solid black;
  width: 600px !important;
  height: 500px;
  background-color: #FFFFFF;
}

.modalItem:first-of-type {
  margin-top: 20px;
}

.modalItem + .modalItem {
  margin-top: 40px;
}

.modalHeader {
  margin: 0;
}
